<a href="https://colab.research.google.com/github/AniketP04/PySpark/blob/main/Create_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql.types import *
from pyspark.sql import *

In [3]:
spark= SparkSession.builder.appName('CreateDF').getOrCreate()

In [12]:
spark

In [4]:
mySchema= StructType([StructField('Id',IntegerType()),
                      StructField('Name',StringType()),
                      StructField('Location',StringType())])

In [5]:
myData= [(1,'Aniket','Mumbai'),
         (2,'Omkar','Hyderabad'),
         (3,'Krishna','Chandigarh')]

In [6]:
df1= spark.createDataFrame(data=myData, schema= mySchema)

In [7]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [8]:
df1.dtypes

[('Id', 'int'), ('Name', 'string'), ('Location', 'string')]

In [9]:
df1.show()

+---+-------+----------+
| Id|   Name|  Location|
+---+-------+----------+
|  1| Aniket|    Mumbai|
|  2|  Omkar| Hyderabad|
|  3|Krishna|Chandigarh|
+---+-------+----------+

In [10]:
mySchema= ['Id','Name','Location']

myData= [(1,'Aniket','Mumbai'),
         (2,'Omkar','Hyderabad'),
         (3,'Krishna','Chandigarh')]

df2= spark.createDataFrame(myData,mySchema)


df2.show()

+---+-------+----------+
| Id|   Name|  Location|
+---+-------+----------+
|  1| Aniket|    Mumbai|
|  2|  Omkar| Hyderabad|
|  3|Krishna|Chandigarh|
+---+-------+----------+

In [11]:
data= [{'Id':1, 'Name':'Aniket','Location':'Mumbai'},
       {'Id':2, 'Name':'Omkar', 'Location':'Hyderabad'}]

df3= spark.createDataFrame(data)


df3.show()

+---+---------+------+
| Id| Location|  Name|
+---+---------+------+
|  1|   Mumbai|Aniket|
|  2|Hyderabad| Omkar|
+---+---------+------+