<a href="https://colab.research.google.com/github/AniketP04/PySpark/blob/main/Read_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.Builder().appName("Myapp").master('local').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv("/content/Advertisement.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [6]:
df_pyspark.show()

+---+-----+---------+-----+
|_c0|  _c1|      _c2|  _c3|
+---+-----+---------+-----+
| TV|radio|newspaper|sales|
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
|  4|151.5|     41.3| 58.5|
|  5|180.8|     10.8| 58.4|
|  6|  8.7|     48.9|   75|
|  7| 57.5|     32.8| 23.5|
|  8|120.2|     19.6| 11.6|
|  9|  8.6|      2.1|    1|
| 10|199.8|      2.6| 21.2|
| 11| 66.1|      5.8| 24.2|
| 12|214.7|       24|    4|
| 13| 23.8|     35.1| 65.9|
| 14| 97.5|      7.6|  7.2|
| 15|204.1|     32.9|   46|
| 16|195.4|     47.7| 52.9|
| 17| 67.8|     36.6|  114|
| 18|281.4|     39.6| 55.8|
| 19| 69.2|     20.5| 18.3|
+---+-----+---------+-----+
only showing top 20 rows

In [7]:
df_pyspark2 = spark.read.option('header','true').csv("/content/Advertisement.csv")
df_pyspark2

DataFrame[TV: string, radio: string, newspaper: string, sales: string]

In [8]:
df_pyspark2.show()

+---+-----+---------+-----+
| TV|radio|newspaper|sales|
+---+-----+---------+-----+
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
|  4|151.5|     41.3| 58.5|
|  5|180.8|     10.8| 58.4|
|  6|  8.7|     48.9|   75|
|  7| 57.5|     32.8| 23.5|
|  8|120.2|     19.6| 11.6|
|  9|  8.6|      2.1|    1|
| 10|199.8|      2.6| 21.2|
| 11| 66.1|      5.8| 24.2|
| 12|214.7|       24|    4|
| 13| 23.8|     35.1| 65.9|
| 14| 97.5|      7.6|  7.2|
| 15|204.1|     32.9|   46|
| 16|195.4|     47.7| 52.9|
| 17| 67.8|     36.6|  114|
| 18|281.4|     39.6| 55.8|
| 19| 69.2|     20.5| 18.3|
| 20|147.3|     23.9| 19.1|
+---+-----+---------+-----+
only showing top 20 rows

In [9]:
df_pyspark2.printSchema()

root
 |-- TV: string (nullable = true)
 |-- radio: string (nullable = true)
 |-- newspaper: string (nullable = true)
 |-- sales: string (nullable = true)

In [10]:
df_pyspark2 = spark.read.option('header','true').csv("/content/Advertisement.csv",inferSchema=True)

In [11]:
df_pyspark2.printSchema()

root
 |-- TV: integer (nullable = true)
 |-- radio: double (nullable = true)
 |-- newspaper: double (nullable = true)
 |-- sales: double (nullable = true)

In [12]:
df_pyspark2.select(['TV','radio']).show()

+---+-----+
| TV|radio|
+---+-----+
|  1|230.1|
|  2| 44.5|
|  3| 17.2|
|  4|151.5|
|  5|180.8|
|  6|  8.7|
|  7| 57.5|
|  8|120.2|
|  9|  8.6|
| 10|199.8|
| 11| 66.1|
| 12|214.7|
| 13| 23.8|
| 14| 97.5|
| 15|204.1|
| 16|195.4|
| 17| 67.8|
| 18|281.4|
| 19| 69.2|
| 20|147.3|
+---+-----+
only showing top 20 rows

In [13]:
df_pyspark2.describe().show()

+-------+------------------+-----------------+------------------+------------------+
|summary|                TV|            radio|         newspaper|             sales|
+-------+------------------+-----------------+------------------+------------------+
|  count|               200|              200|               200|               200|
|   mean|             100.5|         147.0425|23.264000000000024|30.553999999999995|
| stddev|57.879184513951124|85.85423631490805|14.846809176168728| 21.77862083852283|
|    min|                 1|              0.7|               0.0|               0.3|
|    max|               200|            296.4|              49.6|             114.0|
+-------+------------------+-----------------+------------------+------------------+

In [14]:

newdf = df_pyspark2.withColumn("super sales",df_pyspark2['sales']*2).show()

+---+-----+---------+-----+-----------+
| TV|radio|newspaper|sales|super sales|
+---+-----+---------+-----+-----------+
|  1|230.1|     37.8| 69.2|      138.4|
|  2| 44.5|     39.3| 45.1|       90.2|
|  3| 17.2|     45.9| 69.3|      138.6|
|  4|151.5|     41.3| 58.5|      117.0|
|  5|180.8|     10.8| 58.4|      116.8|
|  6|  8.7|     48.9| 75.0|      150.0|
|  7| 57.5|     32.8| 23.5|       47.0|
|  8|120.2|     19.6| 11.6|       23.2|
|  9|  8.6|      2.1|  1.0|        2.0|
| 10|199.8|      2.6| 21.2|       42.4|
| 11| 66.1|      5.8| 24.2|       48.4|
| 12|214.7|     24.0|  4.0|        8.0|
| 13| 23.8|     35.1| 65.9|      131.8|
| 14| 97.5|      7.6|  7.2|       14.4|
| 15|204.1|     32.9| 46.0|       92.0|
| 16|195.4|     47.7| 52.9|      105.8|
| 17| 67.8|     36.6|114.0|      228.0|
| 18|281.4|     39.6| 55.8|      111.6|
| 19| 69.2|     20.5| 18.3|       36.6|
| 20|147.3|     23.9| 19.1|       38.2|
+---+-----+---------+-----+-----------+
only showing top 20 rows

In [15]:
df_pyspark2.drop('sales').show()

+---+-----+---------+
| TV|radio|newspaper|
+---+-----+---------+
|  1|230.1|     37.8|
|  2| 44.5|     39.3|
|  3| 17.2|     45.9|
|  4|151.5|     41.3|
|  5|180.8|     10.8|
|  6|  8.7|     48.9|
|  7| 57.5|     32.8|
|  8|120.2|     19.6|
|  9|  8.6|      2.1|
| 10|199.8|      2.6|
| 11| 66.1|      5.8|
| 12|214.7|     24.0|
| 13| 23.8|     35.1|
| 14| 97.5|      7.6|
| 15|204.1|     32.9|
| 16|195.4|     47.7|
| 17| 67.8|     36.6|
| 18|281.4|     39.6|
| 19| 69.2|     20.5|
| 20|147.3|     23.9|
+---+-----+---------+
only showing top 20 rows

In [16]:
df_pyspark2.withColumnRenamed('TV','My TV').show()

+-----+-----+---------+-----+
|My TV|radio|newspaper|sales|
+-----+-----+---------+-----+
|    1|230.1|     37.8| 69.2|
|    2| 44.5|     39.3| 45.1|
|    3| 17.2|     45.9| 69.3|
|    4|151.5|     41.3| 58.5|
|    5|180.8|     10.8| 58.4|
|    6|  8.7|     48.9| 75.0|
|    7| 57.5|     32.8| 23.5|
|    8|120.2|     19.6| 11.6|
|    9|  8.6|      2.1|  1.0|
|   10|199.8|      2.6| 21.2|
|   11| 66.1|      5.8| 24.2|
|   12|214.7|     24.0|  4.0|
|   13| 23.8|     35.1| 65.9|
|   14| 97.5|      7.6|  7.2|
|   15|204.1|     32.9| 46.0|
|   16|195.4|     47.7| 52.9|
|   17| 67.8|     36.6|114.0|
|   18|281.4|     39.6| 55.8|
|   19| 69.2|     20.5| 18.3|
|   20|147.3|     23.9| 19.1|
+-----+-----+---------+-----+
only showing top 20 rows

**pyspark handling missing values**

In [17]:
newdf = spark.read.option('header','true').csv("/content/New_set.csv",inferSchema=True)

In [18]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

**If didn't provide anything in the drop function, all of the rows with null values would be deleted.**

In [19]:
newdf.na.drop().show()

+---------+---+------+------------------+
|     City|Age|Salary|Eligible for Bonus|
+---------+---+------+------------------+
|   Mumbai| 27| 51000|               Yes|
|   Mumbai| 30| 52000|                No|
|  Newyork| 27| 48000|               Yes|
|  Newyork| 29| 66000|                No|
|Singapore| 33| 69000|                No|
|Singapore| 35| 38000|                No|
|Singapore| 35| 72000|               Yes|
|   Mumbai| 31| 65000|               Yes|
|Singapore| 37| 49000|                No|
+---------+---+------+------------------+

Considering that there are no rows with only null values, nothing will be deleted.

In [20]:
newdf.na.drop(how='all').show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

**With thresh=2, the rows with fewer than two non-null values will be deleted.**

In [21]:
newdf.na.drop(how='any',thresh=2).show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [22]:
newdf.na.fill('Missing value','Age').show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [23]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

**Imputation**

In [24]:
from pyspark.ml.feature import Imputer

In [25]:
imputer = Imputer(
    inputCols=['Age','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age','Salary']]

).setStrategy('mean')

In [26]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [27]:
new = imputer.fit(newdf).transform(newdf)
new.show()

+---------+----+------+------------------+-----------+--------------+
|     City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+---------+----+------+------------------+-----------+--------------+
|   Mumbai|  27| 51000|               Yes|         27|         51000|
|   Mumbai|  30| 52000|                No|         30|         52000|
|  Newyork|  27| 48000|               Yes|         27|         48000|
|  Newyork|  29| 66000|                No|         29|         66000|
|    Tokyo|  48|  null|               Yes|         48|         58636|
|Singapore|  33| 69000|                No|         33|         69000|
|  Newyork|null| 79000|               Yes|         33|         79000|
|   Mumbai|  38|  null|               Yes|         38|         58636|
|Singapore|  35| 38000|                No|         35|         38000|
|    Tokyo|null| 56000|                No|         33|         56000|
|Singapore|  35| 72000|               Yes|         35|         72000|
|   Mumbai|  31| 65000|               Yes|         31|         65000|
|Singapore|  37| 49000|                No|         37|         49000|
+---------+----+------+------------------+-----------+--------------+

**FILTER**

In [28]:
new.filter('Salary_imputed>=50000').show()

+---------+----+------+------------------+-----------+--------------+
|     City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+---------+----+------+------------------+-----------+--------------+
|   Mumbai|  27| 51000|               Yes|         27|         51000|
|   Mumbai|  30| 52000|                No|         30|         52000|
|  Newyork|  29| 66000|                No|         29|         66000|
|    Tokyo|  48|  null|               Yes|         48|         58636|
|Singapore|  33| 69000|                No|         33|         69000|
|  Newyork|null| 79000|               Yes|         33|         79000|
|   Mumbai|  38|  null|               Yes|         38|         58636|
|    Tokyo|null| 56000|                No|         33|         56000|
|Singapore|  35| 72000|               Yes|         35|         72000|
|   Mumbai|  31| 65000|               Yes|         31|         65000|
+---------+----+------+------------------+-----------+--------------+

In [29]:
new.filter('Salary_imputed>=50000').select(['Age_imputed','Age']).show()

+-----------+----+
|Age_imputed| Age|
+-----------+----+
|         27|  27|
|         30|  30|
|         29|  29|
|         48|  48|
|         33|  33|
|         33|null|
|         38|  38|
|         33|null|
|         35|  35|
|         31|  31|
+-----------+----+

In [30]:
new.filter((new['Salary_imputed']>=50000) & (new['Salary_imputed']<=58000)).show()

+------+----+------+------------------+-----------+--------------+
|  City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+------+----+------+------------------+-----------+--------------+
|Mumbai|  27| 51000|               Yes|         27|         51000|
|Mumbai|  30| 52000|                No|         30|         52000|
| Tokyo|null| 56000|                No|         33|         56000|
+------+----+------+------------------+-----------+--------------+

**Groupby and aggregate functions**

In [31]:
new = spark.read.csv('/content/salary22.csv',header=True,inferSchema=True)
new.show()

+--------+--------------+------+----+
|    Name|    Department|Salary| _c3|
+--------+--------------+------+----+
|Thahseer|data scientist| 30000|null|
|   Arjun|          Mern| 15000|null|
|Thahseer|           IOT| 20000|null|
|   Arjun|          Mean| 13000|null|
|   Jerin|        Golang| 18000|null|
|   Jerin|        Golang| 19000|null|
|  Rashid|          Mern| 12000|null|
|  Rashid|          Mean| 10000|null|
+--------+--------------+------+----+

In [32]:
new.groupBy('Name').sum()
new.show()

+--------+--------------+------+----+
|    Name|    Department|Salary| _c3|
+--------+--------------+------+----+
|Thahseer|data scientist| 30000|null|
|   Arjun|          Mern| 15000|null|
|Thahseer|           IOT| 20000|null|
|   Arjun|          Mean| 13000|null|
|   Jerin|        Golang| 18000|null|
|   Jerin|        Golang| 19000|null|
|  Rashid|          Mern| 12000|null|
|  Rashid|          Mean| 10000|null|
+--------+--------------+------+----+

In [33]:
new = new.groupBy('Department').sum()
new.show()

+--------------+-----------+
|    Department|sum(Salary)|
+--------------+-----------+
|data scientist|      30000|
|           IOT|      20000|
|          Mean|      23000|
|          Mern|      27000|
|        Golang|      37000|
+--------------+-----------+

In [34]:
new = new.groupBy("Department").count()
new.show()

+--------------+-----+
|    Department|count|
+--------------+-----+
|data scientist|    1|
|           IOT|    1|
|          Mean|    1|
|          Mern|    1|
|        Golang|    1|
+--------------+-----+

In [35]:
new.columns

['Department', 'count']

**If I want to combine the two input features into one, I can.**

In [36]:
data = spark.read.csv('/content/New_set.csv',header=True,inferSchema=True)
data.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [37]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Salary"],outputCol="Independent Features")
output = featureassembler.transform(data)
output

DataFrame[City: string, Age: int, Salary: int, Eligible for Bonus: string, Independent Features: vector]

In [38]:
finalized_data=output.select("Independent Features","Salary")
finalized_data

DataFrame[Independent Features: vector, Salary: int]