<a href="https://colab.research.google.com/github/AniketP04/PySpark/blob/main/SQL_in_pySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install pyspark

In [ ]:
# To create the dataframe in pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [ ]:
# Initializing the sparksesstion

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [ ]:
schema = StructType([StructField('_c0', IntegerType(), True),
                      StructField('Country', StringType(), True),
                      StructField('Year', IntegerType(), True),
                      StructField('GDP', FloatType(), True)
                     ])

In [ ]:
# Redefining the dataframe with correct column labels

df1 = spark.read.csv('country_data.csv', header=True, schema=schema)
df1.show(5)

+---+-----------+----+---------+
|_c0|    Country|Year|      GDP|
+---+-----------+----+---------+
|  0|Afghanistan|2015| 584.2592|
|  1|Afghanistan|2014|612.69653|
|  2|Afghanistan|2013|  631.745|
|  3|Afghanistan|2012|  669.959|
|  4|Afghanistan|2011| 63.53723|
+---+-----------+----+---------+
only showing top 5 rows

In [ ]:
# We can do SQL operations on the dataframe by creating
# a temporary view

df1.createOrReplaceTempView('GDP')

In [ ]:
# Now pass the SQL command as a string

# Selecting one column from dataframe

spark.sql('select Country from GDP').show(5)

+-----------+
|    Country|
+-----------+
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
|Afghanistan|
+-----------+
only showing top 5 rows

In [ ]:
# Selecting multiple columns from dataframe

spark.sql('select Country, GDP from GDP').show(5)

+-----------+---------+
|    Country|      GDP|
+-----------+---------+
|Afghanistan| 584.2592|
|Afghanistan|612.69653|
|Afghanistan|  631.745|
|Afghanistan|  669.959|
|Afghanistan| 63.53723|
+-----------+---------+
only showing top 5 rows

In [ ]:
# length counts the length of the string

spark.sql('select Country, length(Country) from GDP').show(5)

+-----------+---------------+
|    Country|length(Country)|
+-----------+---------------+
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
|Afghanistan|             11|
+-----------+---------------+
only showing top 5 rows

In [ ]:
# Selecting first three letters from the country

spark.sql("select Country, left(Country, 3) from GDP").show(5)

+-----------+----------------------+
|    Country|left(gdp.`Country`, 3)|
+-----------+----------------------+
|Afghanistan|                   Afg|
|Afghanistan|                   Afg|
|Afghanistan|                   Afg|
|Afghanistan|                   Afg|
|Afghanistan|                   Afg|
+-----------+----------------------+
only showing top 5 rows

In [ ]:
# applying condition on selection

spark.sql("select Year, GDP from GDP where Country = 'Nepal'").show(5)

+----+---------+
|Year|      GDP|
+----+---------+
|2015| 743.7653|
|2014|  76.2387|
|2013|688.61725|
|2012| 681.7926|
|2011| 692.1167|
+----+---------+
only showing top 5 rows

In [ ]:
# applying mathematical condition on selection

spark.sql('select Country from GDP where GDP < 10').show(5)

+-----------+
|    Country|
+-----------+
| Bangladesh|
|   Cambodia|
|  Mauritius|
|Philippines|
|     Rwanda|
+-----------+

In [ ]:
# Star selects all the columns from the dataframe

spark.sql("select * from GDP where Year = 2011").show(5)

+---+-------------------+----+---------+
|_c0|            Country|Year|      GDP|
+---+-------------------+----+---------+
|  4|        Afghanistan|2011| 63.53723|
| 20|            Albania|2011|4437.1787|
| 36|            Algeria|2011|5432.2524|
| 52|             Angola|2011| 4299.129|
| 68|Antigua and Barbuda|2011| 11929.35|
+---+-------------------+----+---------+
only showing top 5 rows

In [ ]:
# Select multiple column with condition

spark.sql("select Country, Year from GDP where Year = 2000").show(5)

+-------------------+----+
|            Country|Year|
+-------------------+----+
|        Afghanistan|2000|
|            Albania|2000|
|            Algeria|2000|
|             Angola|2000|
|Antigua and Barbuda|2000|
+-------------------+----+
only showing top 5 rows

In [ ]:
# Selecting multiple columns with multiple conditions

spark.sql("select Country, Year, GDP from GDP\
            where Year = 2000 and GDP > 35000").show()

+-----------+----+---------+
|    Country|Year|      GDP|
+-----------+----+---------+
|      Japan|2000| 38532.49|
| Luxembourg|2000|48735.996|
|     Norway|2000|38146.715|
|Switzerland|2000|37813.234|
+-----------+----+---------+

In [ ]:
# Selecting countries whose name starts from Z

spark.sql("select Country from GDP where Country like 'Z%'").show(5)

+-------+
|Country|
+-------+
| Zambia|
| Zambia|
| Zambia|
| Zambia|
| Zambia|
+-------+
only showing top 5 rows

In [ ]:
# Selecting country not having vowel a in its name and starting with S

spark.sql("select Country from GDP\
            where Country not like '%a%' \
            and Country like 'S%'").show(5)

+----------+
|   Country|
+----------+
|Seychelles|
|Seychelles|
|Seychelles|
|Seychelles|
|Seychelles|
+----------+
only showing top 5 rows

In [ ]:
# Use of between

spark.sql("select Year, GDP from GDP \
            where Country = 'China' \
            and Year between 2005 and 2010").show(5)

+----+---------+
|Year|      GDP|
+----+---------+
|2010|456.51248|
|2009|3838.4343|
|2008|3471.2476|
|2007|2695.3662|
|2006|299.22968|
+----+---------+
only showing top 5 rows

In [ ]:
# Use of in

spark.sql("select Country, GDP from GDP \
            where Country in ('Nepal', 'India') \
            and Year = 2000").show(5)

+-------+---------+
|Country|      GDP|
+-------+---------+
|  India|438.86462|
|  Nepal|231.42554|
+-------+---------+

In [ ]:
# Use of in outside condition can be used to create yes no question

spark.sql("select distinct Country, Country in ('Pakistan', 'India') from GDP").show(4)

+----------+------------------------------+
|   Country|(Country IN (Pakistan, India))|
+----------+------------------------------+
|      Cuba|                         false|
|Mauritania|                         false|
|  Djibouti|                         false|
|  Slovenia|                         false|
+----------+------------------------------+
only showing top 4 rows

In [ ]:
# Use of distinct

spark.sql("select distinct * from GDP where length(Country) < 5").show(5)

+----+-------+----+---------+
| _c0|Country|Year|      GDP|
+----+-------+----+---------+
| 536|   Chad|2007| 81.68388|
| 535|   Chad|2008| 929.7724|
| 666|   Cuba|2006|4669.6914|
|1248|   Iraq|2001|     null|
| 528|   Chad|2015| 777.2488|
+----+-------+----+---------+
only showing top 5 rows

In [ ]:
# A combination for fun

spark.sql("select distinct * from GDP where Country like '%l'").show(5)

+----+--------+----+---------+
| _c0| Country|Year|      GDP|
+----+--------+----+---------+
|1266|  Israel|2015| 35729.37|
|1277|  Israel|2004|19888.172|
|2060|Portugal|2010|22538.654|
|1825|   Nepal|2003|253.72412|
|2064|Portugal|2006|19821.445|
+----+--------+----+---------+
only showing top 5 rows

In [ ]:
# Order by

spark.sql("select * from GDP where Year = 2015 order by GDP desc").show(4)

+----+-----------+----+---------+
| _c0|    Country|Year|      GDP|
+----+-----------+----+---------+
|2071|      Qatar|2015| 66346.52|
| 112|  Australia|2015|56554.387|
|2313|  Singapore|2015| 53629.74|
|1829|Netherlands|2015|44292.883|
+----+-----------+----+---------+
only showing top 4 rows

In [ ]:
# We can create another temp view

df1.createOrReplaceTempView('Country')

In [ ]:
# We can select from COuntry now

spark.sql('SELECT DISTINCT Country, GDP FROM Country\
            WHERE GDP < 10').show()

+-----------+---------+
|    Country|      GDP|
+-----------+---------+
|     Rwanda|5.6687264|
| Bangladesh|4.6135745|
|   Cambodia| 3.685949|
|  Mauritius| 8.376432|
|Philippines|  1.68135|
+-----------+---------+

In [ ]:
# GDP is still working

spark.sql('SELECT Country FROM GDP\
            WHERE Year=2010').show(5)

+-------------------+
|            Country|
+-------------------+
|        Afghanistan|
|            Albania|
|            Algeria|
|             Angola|
|Antigua and Barbuda|
+-------------------+
only showing top 5 rows

In [ ]:
# How many country name start with United?

spark.sql("select distinct Country from GDP where Country like 'United%'").show()

+--------------------+
|             Country|
+--------------------+
|United Republic o...|
|United States of ...|
|United Arab Emirates|
|United Kingdom of...|
+--------------------+

In [ ]:
# Subquerry
# Which country in 2010 had GDP larger than the GDP of Germany in 2015?

spark.sql("select distinct Country from GDP \
          where Year = 2010 and \
          GDP > (select GDP from GDP \
                          where Country = 'Germany'\
                          and Year = '2015')").show()

+-----------+
|    Country|
+-----------+
|  Singapore|
|    Germany|
|     Norway|
|    Ireland|
|    Iceland|
|Switzerland|
|     Canada|
|  Australia|
|    Austria|
+-----------+

In [ ]:
# Lowest GDP which is not null

spark.sql("select * from GDP where GDP > 0 order by GDP asc").show(3)

+----+-----------+----+---------+
| _c0|    Country|Year|      GDP|
+----+-----------+----+---------+
|2036|Philippines|2002|  1.68135|
| 479|   Cambodia|2000| 3.685949|
| 205| Bangladesh|2002|4.6135745|
+----+-----------+----+---------+
only showing top 3 rows

In [ ]:
# Countries with the shortest name

spark.sql("select distinct Country, length(Country) from GDP \
            where length(Country)>0 \
            order by length(Country)").show(10)

+-------+---------------+
|Country|length(Country)|
+-------+---------------+
|   Fiji|              4|
|   Mali|              4|
|   Chad|              4|
|   Oman|              4|
|   Cuba|              4|
|   Togo|              4|
|   Iraq|              4|
|   Niue|              4|
|   Peru|              4|
|  Sudan|              5|
+-------+---------------+
only showing top 10 rows

In [ ]:
# Longest country name

spark.sql("select Country, Year from GDP order by length(Country) desc").show(4)

+--------------------+----+
|             Country|Year|
+--------------------+----+
|United Kingdom of...|2015|
|United Kingdom of...|2011|
|United Kingdom of...|2014|
|United Kingdom of...|2013|
+--------------------+----+
only showing top 4 rows

In [ ]:
# Viewing the full name

spark.sql("select Country, Year from GDP order by length(Country) desc").first()

Row(Country='United Kingdom of Great Britain and Northern Ireland', Year=2015)

In [ ]:
# Total GDP of the world in 2000

spark.sql("select sum(GDP) from GDP where Year = 2000").show()

+----------------+
|        sum(GDP)|
+----------------+
|725111.341104269|
+----------------+

In [ ]:
# Average GDP of Chile

spark.sql("select mean(GDP) from GDP where Country = 'Chile'").show()

+-----------------+
|        mean(GDP)|
+-----------------+
|6202.344459533691|
+-----------------+

In [ ]:
# Number of countires in the world

spark.sql("select count(distinct Country) from GDP").show()

+-----------------------+
|count(DISTINCT Country)|
+-----------------------+
|                    193|
+-----------------------+

In [ ]:
# Total GDP of India and Pakistan in 2000

spark.sql("select sum(GDP) from GDP \
            where Country in ('India', 'Pakistan')\
            and Year = 2000").show()

+---------------+
|       sum(GDP)|
+---------------+
|972.72705078125|
+---------------+

In [ ]:
# Number of countries with GDP more than 30000 in 2000

spark.sql("select count(Country) from GDP \
            where Year = 2000 \
            and GDP > 30000").show()

+--------------+
|count(Country)|
+--------------+
|             5|
+--------------+